ion-slide {
  display: block;
}

ion-card {
  border-radius: 30px;
}

.icons {
  display: inline;
}

ion-icon {
  font-size: 50px;
  color: red;
}

.address {
  float: left;
}

.nickname {
  font-size: 20px;
}

ion-card-title {
  font-size: 20px;
}

p {
  font-size: 15px;
}

ion-button {
  border-radius: 30px;
  margin-bottom: 10px;
}
