<ion-content class="ion-padding">
  <img class="logo" src="../../assets/icon/logo.png" alt="">

  <ion-card class="ion-padding">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" name="contrasena"></ion-input>
    </ion-item>
    <br>
    <ion-button expand="block" (click)="logIn()">
      Iniciar sesión
    </ion-button>
  </ion-card>
  
  <div text-center>
    <ion-button class="ion-padding" color="medium" (click)="logIn()">
      Regístrate
    </ion-button>
  </div>

</ion-content>