<ion-content>

  <section (click)="selectImage()">
    <img *ngIf="!croppedImagepath" class="userLogo" src="../../assets/icon/registroLogo.jpg" />
    <ion-avatar *ngIf="croppedImagepath">
      <img class="userImage" src="croppedImagepath" />
    </ion-avatar>
  </section>

  <ion-card class="ion-padding">
    <ion-list>

      <ion-item class="itemsRegister">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" name="nombre"></ion-input>
      </ion-item>

      <ion-item class="itemsRegister">
        <ion-label position="floating">Apellido</ion-label>
        <ion-input type="text" name="apellido"></ion-input>
      </ion-item>

      <ion-item class="itemsRegister">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" name="email"></ion-input>
      </ion-item>

      <ion-item class="itemsRegister">
        <ion-label position="floating">Nombre de usuario</ion-label>
        <ion-input type="text" name="nombreUsuario"></ion-input>
      </ion-item>

      <ion-list>
        <ion-radio-group name="sexo">
          <ion-list-header>Sexo</ion-list-header>
          <ion-item>
            <ion-label>Masculino</ion-label>
            <ion-radio slot="start" value="M"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Femenino</ion-label>
            <ion-radio slot="start" value="F"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-list>
        <ion-radio-group name="perefenciasSex">
          <ion-list-header>Preferencias sexuales</ion-list-header>
          <ion-item>
            <ion-label>Hombres</ion-label>
            <ion-radio slot="start" value="H"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Mujeres</ion-label>
            <ion-radio slot="start" value="M"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Binario</ion-label>
            <ion-radio slot="start" value="B"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-item>
        <ion-label>Fecha de nacimiento</ion-label>
        <ion-datetime min="1950" name="myDate" [(ngModel)]="myDate" value="myDate"></ion-datetime>
      </ion-item>

      <ion-item class="itemsRegister">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" name="contrasena"></ion-input>
      </ion-item>

      <ion-item class="itemsRegister">
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input type="password" name="confirmContrasena"></ion-input>
      </ion-item>

      <ion-item class="itemsRegister">
        <ion-label position="floating">Escribe algo sobre ti</ion-label>
        <ion-textarea description="text" autosize maxlength="150"></ion-textarea>
      </ion-item>

      <ion-list>
        <ion-radio-group name="tipoCuenta">
          <ion-list-header>Tipo de cuenta</ion-list-header>
          <ion-item>
            <ion-label>Premium</ion-label>
            <ion-radio slot="start" value="P"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Free</ion-label>
            <ion-radio slot="start" value="F"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

    </ion-list>

    <ion-button expand="block" (click)="registrarse()">
      Registrarse
    </ion-button>
  </ion-card>

  <div text-center class="ion-padding">
    <ion-button class="ion-padding" color="medium" routerLink="/" routerDirection="forward">
      Login
    </ion-button>
  </div>
</ion-content>