.userLogo {
  width: 35%;
  display: block;
  margin-left: auto;
  margin-top: 40px;
  margin-right: auto;
}

.userImage{
  display: block;
  margin-left: auto;
  margin-top: 40px;
  margin-right: auto;
}

.itemsRegister {
  margin-bottom: 10px;
}

ion-avatar {
  width: 150px;
  height: 150px;
  margin: auto;
}
